<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   
</head>
<body>
    <i class="fa-brands fa-quora fa-3x"></i>
    <i class="fa-brands fa-quora" style="color: #f91010;" ></i>
    <i class="fa-solid fa-user fa-3x"style="color: #f91010;"></i>
    <i class="fa-solid fa-heart-pulse" style="color: aqua;"></i>
    <i class="fa-solid fa-circle-info fa-3x" style="color: blue;"></i>
    <i class="fa-solid fa-image fa-3x" style="color: chartreuse;"></i>
    <i class="fa-solid fa-pen" style="color: cyan;"></i>
    <i class="fa-regular fa-clipboard fa-3x" style="color: darkgreen;"></i>
    <i class="fa-solid fa-paintbrush-fine"></i>
    <i class="fa-solid fa-folder fa-3x"></i>
    <i class="fa-solid fa-paper-plane"></i>
    <i class="fa-brands fa-facebook-f fa-shake fa-3x" style="color: #09279f;"></i>
    <i class="fa-duotone fa-mug-tea-saucer fa-xl" style="--fa-primary-color: #f91010; --fa-primary-opacity: 1; --fa-secondary-color: #ff0000; --fa-secondary-opacity: 1;"></i>
    <i class="fa-regular fa-motorcycle fa-xl fa-3x" style="color: #004cff;"></i>
</body>
</html>
